---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>

  <div class="fi mt-2">
      <span class="gpt-title">予算を使い切ったためサービスを終了しました</span>     
  </div>


  <div class="fi mt-2">
    <span class="gpt-subtitle">中高生のための</span>
    <span class="gpt-title">ChatGPT(GPT-4)</span>
  </div>
  <p mt-1 op-60>
    12さいまで: おとなといっしょにつかいましょう
  </p>
  <p mt-1 op-60>
    13歳〜17歳: 無料で使えます
  </p>
  <p mt-1 op-60>
    13歳以上の人はまず<a style="color: cyan; text-decoration: underline;" href="https://scrapbox.io/nishio/ChatGPT_for_Kids">解説</a>を読みましょう 
  </p>
</header>
